.clickable:hover {
    cursor: pointer;
    filter: brightness(20%);
}
.clickable:active {
//    cursor: pointer;
    filter: brightness(70%);
    transform: translate(0.05%, 0.05%);
}
#view {
    font-size: 0.15rem;
    font-family: monospace;
}
